body {
  background-image: url("icon.jpg");
}
header {
  background-color: #000080;
  outline-color: #FF0000;
  outline-style: outset;
}
footer {
  background-image: url("cell.png");
}

h1 {
  color: white;
  size: 80px;
  text-shadow: 2px 2px 5px yellow;
}
h2{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p {
  color: hotpink;
  text-shadow: 2px 2px 5px white;
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}
